/* NEW FONT - PLAY WITH FIRE */
@font-face {
    font-family: 'Play With Fire';
    src: url('../data/fonts/playwithfire/play_with_fire-webfont.eot');
    src: url('../data/fonts/playwithfire/play_with_fire-webfont.eot?#iefix') format('embedded-opentype'),
         url('../data/fonts/playwithfire/play_with_fire-webfont.woff2') format('woff2'),
         url('../data/fonts/playwithfire/play_with_fire-webfont.woff') format('woff'),
         url('../data/fonts/playwithfire/play_with_fire-webfont.ttf') format('truetype'),
         url('../data/fonts/playwithfire/play_with_fire-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* NEW FONT - WATER SPLASH */
@font-face {
    font-family: 'Water Splash';
    src: url('../data/fonts/watersplash/watersplash-webfont.eot');
    src: url('../data/fonts/watersplash/watersplash-webfont.eot?#iefix') format('embedded-opentype'),
         url('../data/fonts/watersplash/watersplash-webfont.woff2') format('woff2'),
         url('../data/fonts/watersplash/watersplash-webfont.woff') format('woff'),
         url('../data/fonts/watersplash/watersplash-webfont.ttf') format('truetype'),
         url('../data/fonts/watersplash/watersplash-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* NEW FONT - We Have Your Chocolate */
@font-face {
    font-family: 'We Have Your Chocolate';
    src: url('../data/fonts/wehaveyourchocolate/kb3wehaveyourchocolate-webfont.eot');
    src: url('../data/fonts/wehaveyourchocolate/kb3wehaveyourchocolate-webfont.eot?#iefix') format('embedded-opentype'),
         url('../data/fonts/wehaveyourchocolate/kb3wehaveyourchocolate-webfont.woff2') format('woff2'),
         url('../data/fonts/wehaveyourchocolate/kb3wehaveyourchocolate-webfont.woff') format('woff'),
         url('../data/fonts/wehaveyourchocolate/kb3wehaveyourchocolate-webfont.ttf') format('truetype'),
         url('../data/fonts/wehaveyourchocolate/kb3wehaveyourchocolate-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

#header {
    display: flex;
    justify-content: center;
    background-blend-mode: multiply;
    background: #000000cc;
    background-image: url(../data/formBG/colagem.jpg);
    text-align: center;
    border-bottom: 2px solid white;
}

#header h4 {
    font-family: 'We Have Your Chocolate', Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 72px;
    color: white;
  }

  #header hr {
      width: 35%;
      border-top: 3px solid white;
  }

body {
    overflow-x: hidden;
    background-size: cover;
    background-image: url(../data/creatureBG/gradient.jpg);
    
    /*width: 150%; /*Isso é horrível pelo amor de Deus arrumar um jeito de fazer sem isso aqui depois*/
}

#site-body {
    height: 1080px; /*Isso é horrível pelo amor de Deus arrumar um jeito de fazer sem isso aqui depois*/
}

.form-container {
    width: 40%; /*Isso é horrível pelo amor de Deus arrumar um jeito de fazer sem isso aqui depois*/
    padding: 50px;
    font-weight: 600;
    font-size: 18px;
    color: #282828;
    background-image: url(../data/formBG/tornpaper.png);
    background-size: cover;
    padding-right: 5%;
}

select {
    margin-bottom: 15px;
}

.creature-container {
    width: 60%; /*Isso é horrível pelo amor de Deus arrumar um jeito de fazer sem isso aqui depois*/
    padding-top: 5%;
    padding-left: 3%;
    z-index: -5;
    
}

#result-body {
    background-size: contain;
    width: 800px;
    height: 800px;
}

#result-head {
    background-size: contain;
    width: 300px;
    height: 300px;
    position: relative;
    /*border: 1px solid black;*/
}

#result-arms {
    height: 0px;
}

#result-legs {
    height: 0px;
}

.result-eye  {
    width: 300px;
    height: 200px;
    position: relative;
    /*border: 1px solid black;*/
}

.result-nose  {
    width: 300px;
    height: 300px;
    position: relative;
    /*border: 1px solid black;*/
}

.result-mouth  {
    width: 300px;
    height: 200px;
    position: relative;
    /*border: 1px solid black;*/
}
.result-ear  {
    width: 250px;
    height: 200px;
    position: relative;
    /*border: 1px solid black;*/
}

.result-arm {
    width: 350px;
    height: 400px;
    position: relative;
    /*border: 1px solid black;*/
}

.result-hand  {
    width: 400px;
    height: 400px;
    position: relative;
    /*border: 1px solid black;*/
}

.result-leg {
    width: 375px;
    height: 375px;
    position: relative;
    /*border: 1px solid black;*/
}

.result-foot  {
    width: 400px;
    height: 400px;
    position: relative;
    /*border: 1px solid black;*/
}

#result-back  {
    width: 400px;
    height: 400px;
    position: relative;
    /*border: 1px solid black;*/
}

#footer {
    border-top: 2px solid white;
    background-blend-mode: multiply;
    background: #000000cc;
    background-image: url(../data/formBG/colagem.jpg);
    color: white;
    padding: 30px;
}

#footer .col-md-6:nth-child(1) {
    border-right: 2px solid white;
}

/* CUSTOM SCROLLBAR */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
background: #000000; 
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #3b3b3b; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555; 
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}