/* NEW FONT - We Have Your Chocolate */
@font-face {
    font-family: 'We Have Your Chocolate';
    src: url('../data/fonts/wehaveyourchocolate/kb3wehaveyourchocolate-webfont.eot');
    src: url('../data/fonts/wehaveyourchocolate/kb3wehaveyourchocolate-webfont.eot?#iefix') format('embedded-opentype'),
         url('../data/fonts/wehaveyourchocolate/kb3wehaveyourchocolate-webfont.woff2') format('woff2'),
         url('../data/fonts/wehaveyourchocolate/kb3wehaveyourchocolate-webfont.woff') format('woff'),
         url('../data/fonts/wehaveyourchocolate/kb3wehaveyourchocolate-webfont.ttf') format('truetype'),
         url('../data/fonts/wehaveyourchocolate/kb3wehaveyourchocolate-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* NEW FONT - Doctor Punk */
@font-face {
    font-family: 'Doctor Punk';
    src: url('../data/fonts/doctorpunk/doctor_punk-webfont.eot');
    src: url('../data/fonts/doctorpunk/doctor_punk-webfont.eot?#iefix') format('embedded-opentype'),
         url('../data/fonts/doctorpunk/doctor_punk-webfont.woff2') format('woff2'),
         url('../data/fonts/doctorpunk/doctor_punk-webfont.woff') format('woff'),
         url('../data/fonts/doctorpunk/doctor_punk-webfont.ttf') format('truetype'),
         url('../data/fonts/doctorpunk/doctor_punk-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

#header {
    display: flex;
    justify-content: center;
    background-blend-mode: multiply;
    background: #000000cc;
    background-image: url(../data/formBG/colagem.jpg);
    text-align: center;
    border-bottom: 2px solid white;
}

#header h1 {
    font-size: 82px;
    font-family: 'We Have Your Chocolate', Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
}

#header h3 {
    font-size: 38px;
    font-family: 'Doctor Punk', Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
}

#header hr {
    width: 35%;
    border-top: 3px solid white;
}

#header-links {
    display: flex;
    justify-content: center;
}

#header-links a {
    color: white;
    padding: 0px 15px 10px 15px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-size: cover;
    background-image: url(../data/creatureBG/gradient.jpg);
    
    /*width: 150%; /*Isso é horrível pelo amor de Deus arrumar um jeito de fazer sem isso aqui depois*/
}

#site-body {
    height: 1080px; /*Isso é horrível pelo amor de Deus arrumar um jeito de fazer sem isso aqui depois*/
}

.form-container {
    width: 40%; /*Isso é horrível pelo amor de Deus arrumar um jeito de fazer sem isso aqui depois*/
    padding: 50px;
    font-weight: 600;
    font-size: 18px;
    color: #282828;
    background-image: url(../data/formBG/tornpaper.png);
    background-size: cover;
    padding-right: 5%;
}

select {
    margin-bottom: 15px;
}

.creature-container {
    width: 60%; /*Isso é horrível pelo amor de Deus arrumar um jeito de fazer sem isso aqui depois*/
    padding-top: 5%;
    padding-left: 5%;
    z-index: -5;
    
}

#result-body {
    background-size: contain;
    width: 800px;
    height: 800px;
}

#result-head {
    background-size: contain;
    width: 300px;
    height: 300px;
    position: relative;
    /*border: 1px solid black;*/
}

#result-arms {
    height: 0px;
}

#result-legs {
    height: 0px;
}

.result-eye  {
    width: 300px;
    height: 200px;
    position: relative;
    /*border: 1px solid black;*/
}

.result-nose  {
    width: 300px;
    height: 300px;
    position: relative;
    /*border: 1px solid black;*/
}

.result-mouth  {
    width: 300px;
    height: 200px;
    position: relative;
    /*border: 1px solid black;*/
}
.result-ear  {
    width: 250px;
    height: 200px;
    position: relative;
    /*border: 1px solid black;*/
}

.result-arm {
    width: 350px;
    height: 400px;
    position: relative;
    /*border: 1px solid black;*/
}

.result-hand  {
    width: 400px;
    height: 400px;
    position: relative;
    /*border: 1px solid black;*/
}

.result-leg {
    width: 375px;
    height: 375px;
    position: relative;
    /*border: 1px solid black;*/
}

.result-foot  {
    width: 400px;
    height: 400px;
    position: relative;
    /*border: 1px solid black;*/
}

#result-back  {
    width: 400px;
    height: 400px;
    position: relative;
    /*border: 1px solid black;*/
}

#footer {
    border-top: 2px solid white;
    background-blend-mode: multiply;
    background: #000000cc;
    background-image: url(../data/formBG/colagem.jpg);
    color: white;
    padding: 30px;
}

#footer h4 {
    text-decoration: underline;
}

#footer .col-md-6:nth-child(1) {
    border-right: 2px solid white;
}

.footer-mail-container {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.footer-mail {
    text-align: center;
    color: white;
}

#footer-logos {
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer-logos img {
    height: fit-content;
    margin: 0px 25px;
}

/* CUSTOM SCROLLBAR */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
background: #000000; 
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #3b3b3b; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555; 
}

@media screen and (max-width: 1280px) {

    body {
        width: fit-content;
    }

    #site-body {
        height: auto;
    }

    .form-container {
        width: 100%;
        padding: 5%;
        padding-right: 20%;
        border-bottom: 4px solid #969696;
    }

    .creature-container {
        width: 100%;
        padding-top: 10%;
        padding-bottom: 20%;
    }

    #footer .col-md-6:nth-child(1) {
        border-right: none;
        border-bottom: 1px solid white;
    }

    #footer .col-md-6:nth-child(2) {
        padding-top: 25px;
    }
}