body {
    overflow-x: hidden;
    /*overflow-y: hidden;*/
}

#site-body {
}

.form-container {
    width: 35%;
    padding: 50px;
    font-weight: 600;
    font-size: 18px;
    color: white;
    text-shadow: 1px 2px #000000;
    background-size: cover;
    background-image: url(../data/formBG/wood.jpg);
    border-right: 25px solid #ccc;
    border-image: url(../data/formBG/wood-white.jpg) 1;
}

select {
    margin-bottom: 15px;
}

.creature-container {
    width: 65%;
    padding-top: 5%;
    padding-left: 5%;
    background-size: cover;
    background-image: url(../data/creatureBG/forest.jpg);
    z-index: -5;
}

#result-body {
    background-size: contain;
    width: 800px;
    height: 800px;
}

#result-head {
    background-size: contain;
    width: 300px;
    height: 300px;
    position: relative;
    /*border: 1px solid black;*/
}

#result-arms {
    height: 0px;
}

#result-legs {
    height: 0px;
}

.result-eye  {
    width: 300px;
    height: 200px;
    position: relative;
    /*border: 1px solid black;*/
}

.result-ear  {
    width: 250px;
    height: 200px;
    position: relative;
    /*border: 1px solid black;*/
}

.result-arm {
    width: 350px;
    height: 400px;
    position: relative;
    /*border: 1px solid black;*/
}

.result-hand  {
    width: 400px;
    height: 400px;
    position: relative;
    /*border: 1px solid black;*/
}

.result-leg {
    width: 375px;
    height: 375px;
    position: relative;
    /*border: 1px solid black;*/
}

.result-foot  {
    width: 400px;
    height: 400px;
    position: relative;
    /*border: 1px solid black;*/
}